 *{
            margin:0;
            padding: 0;
            box-sizing: 0;
        }
        body{
            height: 100vh;
            width: 100vh;
        }
        .container{
            background-color: aqua;
            height:100vh;
            width:100%;
            display: grid;
            border: 2px solid black;
        }
        .item{
            background-color: lightgreen;
            border: bold red 1px;
        }