 * {
            margin: 0;
            padding: 0;
            box-sizing: 0;
        }

        body {
            height: 100vh;
            width: 100vh;
        }

        .container {
            background-color: aqua;
            height: 100vh;
            width: 100%;
            display: grid;
            border: 2px solid black;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        .item {
            background-color: lightgreen;
            border: bold red 1px;
        }

        .item1 {
            grid-column: 1/7;
            grid-row: 1/2;
            margin: 5px;
        }

        .item2 {
            grid-column: 1/3;
            grid-row: 2/4;
            margin: 5px;
            color: blue;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .item3 {
            grid-column: 3/7;
            grid-row: 2/4;
            margin: 5px;
        }

        .item4 {
            grid-column: 1/3;
            grid-row: 4/6;
            margin: 5px;
        }

        .item5 {
            grid-column: 3/7;
            grid-row: 4/6;
            margin: 5px;
        }

        .item6 {
            grid-column: 1/7;
            grid-row: 6/7;
            margin: 5px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h1 {
            background-color: grey;
            text-align: center;
        }

        ul {
            background-color: rgb(72, 111, 126);
            list-style-type: none;

        }

        #d1 {
            background-color: rgb(167, 179, 140);
            display: inline-block;
            padding: 10px;
            margin: 30px;
        }