h1{
    background-color: grey;
    text-align: center;
}
ul{
    background-color: rgb(72, 111, 126);
    list-style-type:none;

}
#d1{
    background-color: rgb(167, 179, 140);
    display: inline-block;
    padding: 10px;
    margin: 30px;
}
