div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url("CAT_PHOTO.jpg");
    background-size: cover;
}
#box1 {
    background-image: url("CAT_PHOTO.jpg");
    background-size: auto;
    /* mostly we use cover */
    /* background-repeat: no-repeat; */
    
}
/* #box1 {
    position: static;
    top: 40px;
/* nhi hoya */

/* #box2 {
    position:relative;
    top:-20px;
    left: 10px;
}
#box3 {
    position: fixed;
    top: 10px;
    z-index: 2;
     
}
#box4 {
   top: 0px;
   position: fixed;
   z-index: 1; */
