*{
    padding: 0;
    margin: 0;
    color: white;
    ;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: rgb(255, 179, 0);
}
#logo {
    color:  rgb(255, 179, 0); 
    font-size: 25px;
}
a {
    margin-right: 200px ;
} */
.contentbox{
    height: 100px;
    width: 100px;
}
