#box1 {
    height: 100px;
    width: 200px;
    background-color: aqua;
    font-size: 10px;
}

#box2 {
    height: 50px;
    background-color: yellow;
    margin-left:10%;
    font-size: 2.5em;
    width: 7rem;
    height: 5vh;
    /* two time of parents font size */
    /* width will be increased by itself font size */
}